@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Miltonian+Tattoo&display=swap');

body {
    background-image: url(../Img/background.avif);
    font-family: "Miltonian Tattoo", serif;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-image: url(../Img/Header\ opposite.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #94A876;
}

.butcard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding-right: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.butcard:hover {
    background-color: #F4F4F4;
    transform: scale(1.05);
}

.butcard img {
    width: 50px;
}

.butcard a {
    width: 50px;
    margin-left: 15px;
    font-size: 35px;
    color: #9F8D8D;
    text-decoration: none;
    display: flex;
    padding-left: 30px;
}

footer {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ffffff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
}

footer div {
    background-color: white;
    border-radius: 30px;
    color: #9F8D8D;
    font-size: 35px;
}

.redes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 40px 100px;
    transform: scale(1.30);
}

.redes img {
    width: 50px;
    height: 50px;
}

.globalir {
    display: flex;
    justify-content: center;
    margin: 50px 0 70px 0;
    background-color: #94A876;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.datos {
    font-size: 19px;
    background-color: #94A876;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.text {
    display: flex;
    justify-content: center;
}

.globaler {
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
}

.agr1 {
    margin-top: 150px;
    justify-content: center;
    flex-direction: column;
    transform: scale(1.30);
}

.agr2 {
    margin-top: 70px;
    justify-content: center;
    flex-direction: column;
    transform: scale(1.30);
}

.tarjetaU {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    border: 1px solid #94A876;
    border-radius: 15px;
    background-color: #94A876;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.usuario p {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: left;
}

.contactanos p {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

hr {
    background-color: #9F8D8D;
}

.enviar {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-left: 300px;
    width: 50px;
}

.enviar:hover {
    background-color: #F4F4F4;
    transform: scale(1.05);
}

@media (max-width: 1085px) {
    .butcard img {
        width: 0px;
    }

    nav .butcard {
        font-size: 25px;
        padding-right: 30px;
    }

    .butcard a {
        font-size: 25px;
    }

    .redes {
        transform: scale(1);
        margin: 20px 40px;
    }

    .globaler {
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
    }

    .agr1, .agr2 {
        transform: scale(1);
        margin-top: 30px;
    }

    .tarjetaU {
        width: 90%;
    }

    .enviar {
        margin-left: 0;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .datos {
        font-size: 16px;
    }

    footer div {
        font-size: 25px;
    }

    header {
        font-size: 35px;
        height: 200px;
    }
}
