@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Miltonian+Tattoo&display=swap');

body {
    background-image: url(../Img/background.avif);
    font-family: "Miltonian Tattoo", serif;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-image: url(../Img/Header\ opposite.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #94A876;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main h2 {
    font-size: 80px;
    display: flex;
    justify-content: center;
}

main p {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.butcard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding-right: 150px;
    margin: 15px 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.butcard:hover {
    background-color: #F4F4F4;
    transform: scale(1.05);
}

.butcard img {
    width: 50px;
    display: flex;
    justify-content: center;
}

.butcard a {
    width: 50px;
    margin-left: 15px;
    font-size: 35px;
    color: #9F8D8D;
    text-decoration: none;
    display: flex;
    padding-left: 30px;
}

footer {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ffffff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer div {
    background-color: white;
    border-radius: 30px;
    color: #9F8D8D;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.parte2 {
    display: flex;
    justify-content: center;
}

.inspiracion {
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    margin: 30px 50px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.meta {
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    margin: 30px 90px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

.mision {
    display: flex;
    justify-content: right;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    margin: 30px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.562);
}

@media (max-width: 1085px) {
    main {
        flex-direction: column;
        align-items: center;
        font-size: 3px;
    }

    nav .butcard {
        width: 3px;
        font-size: 3px;
        display: flex;
        justify-content: center;
    }

    .butcard a {
        font-size: 25px;
    }

    .butcard img {
        width: 0px;
        display: flex;
        justify-content: center;
    }

    .inspiracion, .meta, .mision {
        margin: 15px;
    }

    main h2 {
        font-size: 40px;
    }

    main p {
        font-size: 20px;
    }

    footer div {
        font-size: 25px;
    }
}
